<div>
    <h2 data-translate="kateApp.request.home.title">Requests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="request.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="kateApp.request.home.createLabel">
                        Create new Request
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="kateApp.request.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="kateApp.request.services">Services</span></th>
                    <th jh-sort-by="total"><span data-translate="kateApp.request.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ROLE_ADMIN" jh-sort-by="lastModifiedDate"><span data-translate="kateApp.request.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th has-authority="ROLE_ADMIN" jh-sort-by="user.login"><span data-translate="kateApp.request.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.requests track by request.id">
                    <td><a ui-sref="request-detail({id:request.id})">{{request.id}}</a></td>
                    <td>{{request.name}}</td>
                    <td>
                    	<div ng-repeat="service in request.services track by service.id">
                        	<span class="label label-info">{{service.name}}</span>
                    	</div>
                	</td>
                	<td>{{request.total | number: 2}}</td>
                    <td has-authority="ROLE_ADMIN">{{request.lastModifiedDate | date:'medium'}}</td>
                    <td has-authority="ROLE_ADMIN">
                        {{request.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit"
                                    ui-sref="request-detail({id:request.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button> -->
                            <button type="submit"
                                    ui-sref="request.edit({id:request.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request.delete({id:request.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
